 * {
     padding: 0px;
     margin: 0px;
 }
 
 body {
     background-image: linear-gradient(to bottom right, rgb(2, 231, 231), rgb(8, 190, 190), rgb(7, 160, 160), rgb(10, 134, 134), rgb(3, 80, 80));
     font-family: "dahlia-m";
 }
 
 p {
     font-size: 20px;
 }
 
 .about,
 .contact,
 .works {
     display: flex;
     justify-content: end;
 }
 
 .aboutRight,
 .contactRight,
 .worksRight {
     width: 50%;
 }
 
 a:link,
 a:visited,
 a:active,
 a:hover,
 a {
     text-decoration: none;
     color: black;
     cursor: pointer;
 }
 
 a>img:hover {
     cursor: pointer;
 }
 
 .pages {
     height: 100vh;
     padding: 80px;
 }
 
 .navBar {
     padding: 5px;
     /* background-color: rgb(241, 235, 222); */
     background-image: linear-gradient(to right, rgb(4, 212, 212), rgb(8, 190, 190), rgb(7, 160, 160), rgb(10, 134, 134), rgb(8, 97, 97));
     width: 100%;
     display: block;
     position: fixed;
 }
 
 .navBar>nav {
     top: 15px;
     left: 15px;
     display: flex;
     justify-content: left;
     text-align: center;
     font-weight: bolder;
 }
 
 .navBar>nav>div {
     font-size: 20px;
     padding: 0px 15px 0px 15px;
 }
 
 .main {
     /* background-color: rgb(4, 199, 199); */
     background-image: linear-gradient(to bottom right, rgb(2, 231, 231), rgb(8, 190, 190), rgb(7, 160, 160), rgb(10, 134, 134), rgb(3, 80, 80));
     display: flex;
     justify-content: space-around;
 }
 
 .mainLeft {
     padding-top: 15px;
     width: 40%;
 }
 
 .profilePhoto {
     position: fixed;
     width: 30%;
     border-radius: 8px;
 }
 
 .mainRight {
     margin-left: 40px;
     padding-left: 30px;
     text-align: center;
     width: 50%;
     padding-top: 13%;
 }
 
 .mainRight>h1,
 h2 {
     font-family: "dahlia-b";
 }
 
 .mainRight>p {
     font-size: 20px;
 }
 
 .about {
     /* background-color: rgb(3, 175, 175); */
     background-image: linear-gradient(to top right, rgb(2, 231, 231), rgb(8, 190, 190), rgb(7, 160, 160), rgb(10, 134, 134), rgb(3, 80, 80));
 }
 
 .works {
     /* background-color: rgb(3, 126, 126); */
     background-image: linear-gradient(to bottom right, rgb(2, 231, 231), rgb(8, 190, 190), rgb(7, 160, 160), rgb(10, 134, 134), rgb(3, 80, 80));
 }
 
 .contact {
     padding-top: 60px;
     /* background-color: rgb(8, 97, 97); */
     background-image: linear-gradient(to top right, rgb(2, 231, 231), rgb(8, 190, 190), rgb(7, 160, 160), rgb(10, 134, 134), rgb(3, 80, 80));
 }
 
 .contact>div {
     text-align: center;
 }
 
 .contact img {
     width: 50px;
 }
 
 .contact img:hover {
     transition: 0.5s;
     width: 60px;
 }