 * {
     padding: 0px;
     margin: 0px;
 }
 
 body {
     /* background-color: rgb(10, 134, 134); */
     font-family: "dahlia-m";
 }
 
 p {
     font-size: 20px;
 }
 
 .about,
 .contact,
 .works,
 .formContact {
     display: flex;
     justify-content: end;
 }
 
 .mainRight,
 .aboutRight,
 .contactRight,
 .worksRight,
 .formContactRight {
     width: 55%;
 }
 
 a:link,
 a:visited,
 a:active,
 a:hover,
 a {
     text-decoration: none;
     color: black;
     cursor: pointer;
 }
 
 a>img:hover {
     cursor: pointer;
 }
 
 .pages {
     /* height: 100vh; */
     padding: 5% 5%;
 }
 
 .navBar {
     padding: 1%;
     background-color: white;
     /* background-color: rgb(241, 235, 222); */
     /* background-image: linear-gradient(to right, rgb(4, 212, 212), rgb(8, 190, 190), rgb(7, 160, 160), rgb(10, 134, 134), rgb(8, 97, 97)); */
     width: 100%;
     /* display: block; */
     position: fixed;
     z-index: 1000;
 }
 
 .navBar>nav {
     top: 15px;
     left: 15px;
     display: flex;
     justify-content: center;
     text-align: center;
     font-weight: bolder;
 }
 
 .navBar>nav {
     column-gap: 2rem;
 }
 
 .navBar>nav>a>div {
     font-size: 16px;
     cursor: pointer;
 }
 
 .main {
     /* background-color: rgb(4, 199, 199); */
     /* background-image: linear-gradient(to bottom right, rgb(2, 231, 231), rgb(8, 190, 190), rgb(7, 160, 160), rgb(10, 134, 134), rgb(3, 80, 80)); */
     display: flex;
     justify-content: space-around;
 }
 
 .mainLeft {
     margin-top: -1%;
     transition: 2s;
 }
 
 .mainLeft {
     margin-top: -1%;
     padding-top: 0%;
     width: 40%;
 }
 
 .profilePhoto {
     position: fixed;
     width: 30%;
     border-radius: 8px;
 }
 
 .mainRight {
     padding-left: 1%;
     text-align: center;
     padding-top: 13%;
 }
 
 .mainRight>h1,
 h2 {
     margin: 1% 0%;
     font-family: "dahlia-b";
 }
 
 .mainRight>p {
     font-size: 20px;
 }
 
 @media screen and (max-width: 865px) {
     .mainLeft {
         transition: 0.5s;
         margin-top: 15%;
     }
     .mainRight>h1,
     h2 {
         margin: 9% 0%;
         font-family: "dahlia-b";
     }
 }
 
 .about {
     /* background-color: rgb(3, 175, 175); */
     /* background-image: linear-gradient(to top right, rgb(2, 231, 231), rgb(8, 190, 190), rgb(7, 160, 160), rgb(10, 134, 134), rgb(3, 80, 80)); */
 }
 
 .works {
     /* background-color: rgb(3, 126, 126); */
     /* background-image: linear-gradient(to bottom right, rgb(2, 231, 231), rgb(8, 190, 190), rgb(7, 160, 160), rgb(10, 134, 134), rgb(3, 80, 80)); */
 }
 
 .contact {
     padding-top: 4%;
     /* background-color: rgb(8, 97, 97); */
     /* background-image: linear-gradient(to top right, rgb(2, 231, 231), rgb(8, 190, 190), rgb(7, 160, 160), rgb(10, 134, 134), rgb(3, 80, 80)); */
 }
 
 .contact>div {
     text-align: center;
 }
 
 .contact img {
     width: 8%;
 }
 
 .contact img:hover {
     transition: 0.3s;
     width: 9%;
 }
 
 .formContact,
 table {
     display: flex;
     text-align: center;
     justify-content: center;
 }
 
 .formContactRight {
     margin-top: 24%;
     margin-bottom: 24%;
 }
 
 @media screen and (max-width: 870px) {
     .mainRight,
     .aboutRight,
     .contactRight,
     .worksRight,
     .formContactRight {
         width: 90%;
     }
     .main .about,
     .contact,
     .works,
     .formContact {
         text-align: center;
         justify-content: center;
         display: flex;
     }
     .mainLeft {
         margin-top: 10%;
         padding-top: 0%;
         width: 100%;
     }
     .profilePhoto {
         position: relative;
         width: 65%;
         border-radius: 8px;
         z-index: 100;
     }
 }